@import "variables.scss";
@import "theme.scss";
//返回顶部
//logo 宽度
.logo_width{
  width: 86px;
}
html{
  color: #333 !important;
}
.box{
  position:fixed;
  right:40px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  text-align: center;
  line-height: 30px !important;
  //background-color: lightblue !important;
  cursor: pointer !important;
}
.right_style{
  right:20px;
}
.box:hover{
  border-radius: 50% !important;
}
.success_image{
  width: 880px;
  height: 640px;
}
.index_serve{
  //background-image: url("../images/product_1.png");
  background-size: 100% 100%;
}
.image {
  width: 30px;
  height: 30px;
}
.index_text{
  font-size: 10px;
  line-height: 5px;
}
.serve_background{
  background-image: url("../images/server_2.png");
}
.server_image{
  width: 143px;
  height: 90px;
}
 .uk-navbar-left .index_logo{
  padding: 0;
}
.index_image {
  width: 236px;
  height: 367px;
}
.nav_background{
  background: #36425F !important;
  color: #fff;
}
.conten-border {
  border: 1px solid #ccc;
}
#foot{
  background: #36425F;
  color: #fff;
  //font-size: 14px;
  //margin-top: 48px;
}
.index_foot{
  padding: 16px 0;
}
.swiper_images{
  width: 380px;
}
.index_login{
  width: 60px;
  height: 22px;
  font-size: 12px;
  background: #fff;
  color: #34A4B0;
  border:none;
  border-radius: 4px;
}
.index_footer{
  text-align: center;
}
 .index_layout{
  display: flex;
  align-content: center;
}
.logo_image{
  width: 100px;
  height: 100px;
}
//首页css
.banner_bottom_image{
  width: 64px;
  height: 64px;
}
.border_style{
  border: 1px solid #d5d5d5;
}
.secion_hover:hover{
  box-shadow: 1px 1px 8px #34A4B0;
  border: 1px solid  #34A4B0;
}
.server_container{
  //background-image: url("../images/index_success_back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
//政策动态css
.head_image{
  width: 380px;
  height: 280px;
}
.policy_image{
  width: 220px;
  height: 300px;
  background: #34A4B0;
  padding: 5px;
  border-radius: 12px;
}
.policy_content{
  background: #34A4B0;
  color: #ffff;
  opacity: 0.69;
}
//公益事业css
.welfare_style div{
  color: #34A4B0 !important;
}
.secion_hover .uk-cover{
  top:55%;
}
.padding20{
  padding: 20px 0;
}
.arrow{
  width: 22px;
  height: 18px;
}
.arrow-right{
  width: 18px;
  height: 15px;
}
.program_familly{
  font-family: 楷体 !important;
}
.font-size22{
  font-size: 16px;
}
//login css
.login_images{
  width: 400px !important;
  height: 480px !important;
}
.login_back{
  background-image: url("../images/service_background1.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
//产品服务css
.server_back{
  background-image: url("../images/service_background1.png");
  background-repeat:no-repeat;
  height: 380px;
  background-size: 100% 100%;
}
//背景颜色
.service_background{
  background: #34A4B0 !important;
  color: #fff !important;
}
.border-radius{
  border-bottom-right-radius:5px !important;
  border-bottom-left-radius:5px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.curson{
  cursor: pointer;
}
.text-color{
  color: #fff !important;
}
.font-size20{
  font-size: 20px !important;
}
.font-size18{
  font-size: 18px !important;
}
.font-size24{
  font-size: 24px !important;
}
.font-size16{
  font-size: 16px !important;
}
.font-size10{
  font-size: 10px !important;
}
.program_images{
  width: 160px;
  height: 160px;
}
.program_service_image{
  width: 180px;
  height: 360px;
}
.program_service{
  width: 140px;
  height: 140px;
  border:1px solid #34A4B0;
}

.program_heart1{
  width: 50px;
  height: 58px;
  margin: 26px 45px 14px
}
.program_heart2{
  width: 40px;
  height: 58px;
  margin: 26px 50px 14px
}
.program_color{
  color: #34A4B0 !important;
}.program_color1{
  color: #36425F !important;
}

.program_heart3{
  width: 58px;
  height: 42px;
  margin: 34px 41px 22px
}
.program_heart4{
  width: 58px;
  height: 54px;
  margin: 28px 41px 16px
}
.slider {
  position: relative;
  overflow: hidden;
  min-height: 1px;
}
.slider-groups {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.slider-item {
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.slider-item a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}
.slider-item img {
  display: block;
  width: 100%;
}
/*    right: 0;left: 0; 是为了使width为100%，
有了宽度text-align才能生效，当然你直接写width:100%也行*/
.dots {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 12px;
  text-align: center;
  font-size: 0;
}
.dot {
  display: inline-block;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: green;

}
.foot_bottom{
  background: #18233B;
}
.active {
  width: 20px;
  border-radius: 5px;
  background: rgb(255, 205, 49);
}

.service_style{
  background: #fff;
  color: #34A4B0;
  margin: 0 30px;
  font-size: 16px;
  border-radius: 4px;
}
.service_images{
  width: 178px;
}
@media (max-width: 500px){
  .font-size24{
    font-size: 20px !important;
  }
  .font-size20{
    font-size: 18px !important;
  }
  .font-size18{
    font-size: 16px !important;
  }
  .font-size22{
    font-size: 14px !important;
  }
  .font-size16{
    font-size: 14px !important;
  }
}