.uk-navbar-left .uk-navbar-nav > li > a{
  color: #fff;
}
.uk-navbar-left .uk-navbar-nav > li.uk-active > a{
  background: #fff;
  color: #34A4B0;
}
.uk-navbar-left .uk-navbar-nav > li > a:active{
  color: #fff;
}
.policy_content .uk-h4{
  margin: 0;
  color: #fff;
}
.uk-nav-primary > li > a{
font-size: 1rem !important;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}